{% extends 'base.html' %}

{% block content %}

<style>

  /* Global Styles */
  body {
    font-family: Arial, sans-serif;
    background-color: #161C20;
    color: #ffffff;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  form {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: flex-end;
  }
  
  /* Heading */
  h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #18B777;
  }
  
  /* Alert */
  .alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #161C20;
    border-color: #157B55;
  }
  
  .alert-info {
    display: flex;
    justify-content: center;
    color: #18B777;
    max-width: 80%;
    background-color: #157B55;
    border-color: #145D44;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }
  
  .alert p {
    margin: 0;
  }
  
  /* QR Code */
  .alert img {
    display: block;
    max-width: 60%;
    max-height: 60%;
    border-radius: 10px;
    height: auto;
    margin-top: 10px;
  }
  
  /* Form */
  form {
    margin-top: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    color: #ffffff;
  }
  
  input[type="text"] {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
    background-color: #161C20;
    background-clip: padding-box;
    border: 1px solid #18B777;
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  button[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: none;
    border-radius: 4px;
    transition: background-color 0.15s ease-in-out;
    background-color: #18B777;
    color: #ffffff;
  }
  
  button[type="submit"]:hover {
    background-color: #145D44;
  }
  
  /* Custom Styles */
  .container {
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  input[type="text"] {
    border-radius: 4px;
  }
  
  button[type="submit"] {
    border-radius: 4px;
  }
  
  input[type="text"]:focus,
  button[type="submit"]:focus {
    outline: none;
  }
  
  </style>  

<h1>Activer l'authentification à deux facteurs (2FA)</h1>

  <div class="alert alert-info">
    <p>Scannez le code QR suivant avec une application d'authentification TOTP :</p>
    <img src="data:image/png;base64,{{ qr_code_image }}" alt="Code QR">
  </div>

  <form method="POST" action="{{ url_for('main.settings') }}">
    <div>
      <label for="totp_code">Entrez le code TOTP</label>
      <input type="text" id="totp_code" name="totp_code" required>
    </div>
    <button type="submit">Activer 2FA</button>
  </form>
{% endblock %}
